@model IEnumerable<Tamin.Models.ApplicationUser>
@using Tamin.Helpers

@{
    ViewBag.Title = "مدیریت کاربران";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="adv-table editable-table">
    <div class="clearfix">
        <div class="btn-group">
            @Html.ActionLink("ایجاد مطلب جدید", "Create", null, new { @class = "btn btn-success" })

        </div>
    </div>
</div>
<div class="col-md-12">
    <br />
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">مدیریت کاربران</h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table"
                       class="table table-striped table-bordered"
                       style="width:100%">
                    <thead>
                        <tr>
                            <th>نام , نام خانوادگی</th>
                            <th>تاریخ ثبت نام</th>
                            <th>آدرس ایمیل</th>

                            <th>شماره تلفن</th>
                            <th>نقش ها</th>
                            <th>  </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fullname)
                                </td>
                                <td>
                                   @Html.DisplayFor(modelItem => item.DateOfRegistration)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.Email)
                                </td>

                                <td>
                                   @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                @string.Join(",", item.Roles.Select(x => Html.GetRoleName(x.RoleId)))
                                </td>

                                <td>
                                    @using (Html.BeginForm("Delete", "AdminUsers", new { id = item.Id }))
                                    {
                                        @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                                        <button class="btn btn-danger btn-xs" type="submit">
                                            حذف
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
     $(document).ready(function () {

         $('#assets-data-table').DataTable();
     });
    </script>
}