@model IEnumerable<Tamin.Models.PostGroup>

@{
    ViewBag.Title = "مدیریت مجموعه ها";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="adv-table editable-table">
    <div class="clearfix">
        <div class="btn-group">
            @Html.ActionLink("ایجاد مطلب جدید", "Create", null, new { @class = "btn btn-success" })

        </div>
    </div>
</div>
<div class="col-md-12">
    <br />
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">مدیریت مجموعه ها</h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table"
                       class="table table-striped table-bordered"
                       style="width:100%">
                    <thead>
                        <tr>
                            <th>والد گروه خبر</th>
                            <th>عنوان گروه خبر</th>
                           
                            <th>  </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                @Html.DisplayFor(modelItem => item.PostGroupTitle)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.PostGroupTitle)
                                </td>
                               

                             
                        

                                <td>
                                    @Html.ActionLink("ویرایش", "Edit", new { id = item.PostGroupId }, new { @class = "btn btn-primary btn-xs" })

                                    @Html.ActionLink("حذف", "Delete", new { id = item.PostGroupId }, new { @class = "btn btn-danger btn-xs" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
     $(document).ready(function () {

         $('#assets-data-table').DataTable();
     });
    </script>
}