@model IEnumerable<Tamin.Models.Post>

@{
    ViewBag.Title = "مدیریت مطالب";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="adv-table editable-table">
    <div class="clearfix">
        <div class="btn-group">
            @Html.ActionLink("ایجاد مطلب جدید", "Create", null, new { @class = "btn btn-success" })

        </div>
    </div>
</div>
<div class="col-md-12">
    <br />
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">مدیریت مطالب</h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table"
                       class="table table-striped table-bordered"
                       style="width:100%">
                    <thead>
                        <tr>
                            <th>عنوان</th>
                            <th>نویسنده</th>
                            <th>خلاصه</th>
                            
                            <th>وضعیت نمایش</th>
                            <th>آخرین ویرایش</th>
                            <th>  </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PostTitle</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApplicationUser.Fullname)
                                </td>
                                <td>@item.Summary</td>
                                
                                <td>
                                    <div class="col-xs-4">

                                        @*<label class="pull-right">*@
                                        @Html.CheckBoxFor(model => item.PostIsActive, new { @class = "checkbox-slider slider-icon colored-blue", @type = "checkbox" })
                                        <span class="text"></span>
                                        @*</label>*@
                                    </div>
                                </td>
                                <td>@item.PostDate</td>
                                
                                <td>
                                @Html.ActionLink("ویرایش", "Edit", new { id = item.PostID }, new { @class = "btn btn-primary btn-xs" })

                                @Html.ActionLink("حذف", "Delete", new { id = item.PostID }, new { @class = "btn btn-danger btn-xs" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
     $(document).ready(function () {

         $('#assets-data-table').DataTable();
     });
    </script>
}